@import '~antd/lib/style/themes/default.less';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  :global {
    .ant-row {
      flex: auto;
    }

    .ant-form-item,.ant-input-group-compact {
      display: flex;
      flex-direction: row;
      // 垂直居中
      align-items: center;
    }

    .ant-form-item-label,.ant-form-item-control {
      flex: none !important;
      padding: 4px 0 !important;
    }
  }
}
