@import '~antd/lib/style/themes/default.less';

.camera {
  width: 100%;
  border-radius: 10px !important;

  :global {
    .ant-pro-card-header {
      padding-bottom: 8px;
      font-size: 1.2em !important;
    }

    .ant-pro-card-body{
      padding: 0 !important;
    }
  }

  .left {
    width: 600px;
    margin-top: 20px;
    min-height: 420px;
    border: none;

    :global{
      .ant-pro-card-header {
        background-color: @text-color-secondary;
      }
    }

    #video-container {
      width: 100%;
      height: 100%;
    }
  }

  .right{
    flex: 1;
    width: calc(100vh - 600px);
    text-align: right;
    min-height: 320px;
    margin: 0 20px;

    .curve{
      min-height: 320px;
      height: 42%;
      width: 100%;
      max-width: 600px;
      margin: 0 auto 36px auto;
    }
  }
}
