@import '~antd/lib/style/themes/default.less';

.alert{
  display: flex;
  flex-direction: row;
  div{
    margin-right: 30px;
  }
  color: white;
  :global{
    .ant-badge{
      margin-right: 20px;
    }
  }
}
