@import '~antd/lib/style/themes/default.less';

.container{
  .top{
    margin-top: 16px;
  }

  .bottom{
    margin-top: 16px;
    :global{
      .ant-pro-card-body{
        min-height: 200px;
      }
    }
  }
}
