@import '~antd/lib/style/themes/default.less';

.deviceList {

  :global {

    .ant-pro-table-list-toolbar{
      display: none;
    }

    .ant-list-grid {
      padding: 0 !important;

        .ant-pro-core-label-tip-subtitle {
          font-size: 1.2em !important;
          text-shadow: 1px 1px 0 @text-color;
        }
    }
  }
}

