@import '~antd/lib/style/themes/default.less';

.situation {
  :global {
    // 边框设置
    .ant-pro-card-border {
      border: 1px solid @text-color;
      border-radius: 10px !important;
      box-shadow: @text-color 0 0 0 1px inset;
    }

    // card标题
    .ant-pro-card-header {
      font-size: 1.2em !important;
    }

    // card内容
    .ant-pro-card-body-center {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 20px;

      .ant-pro-card-statistic-layout-horizontal {
        justify-content: flex-start !important;
        margin-bottom: 10px;
      }
    }

    // form
    .ant-form {
      width: 100%;

      .ant-form-item {
        flex-wrap: nowrap;
        margin-bottom: 6px;
      }
    }
  }

  .row {
    width: 100%;
  }
}
