@import '~antd/es/style/themes/default.less';

.base {
  display: flex;
  padding-top: 12px;


  .left {
    min-width: 224px;
  }

  .right {
    flex: 1;
    padding-left: 104px;
    .avatar_title {
      height: 22px;
      margin-bottom: 8px;
      color: @heading-color;
      font-size: @font-size-base;
      line-height: 22px;
    }
    .avatar {
      margin-bottom: 12px;
      overflow: hidden;
    }
    .button {
      width: 144px;
      text-align: center;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .base {
    flex-direction: column-reverse;

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 448px;
      padding: 20px;
      .avatar_title {
        display: none;
      }
    }

    :global{

      // form
      .ant-form-item {
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        .ant-form-item-label {
          text-align: right !important;
          width: 80px;

          label::after {
            top: -.5px;
            display: inline-block;
            color: @text-color;
            content: ":";
          }
        }
      }

      // sm、md 屏幕时防止flex占满 被强制换行
      .ant-form-item-label,.ant-form-item-control {
        flex: none !important;
        padding: 4px 0 !important;
      }
    }
  }
}
